/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor.wwebjs_auth
/vendor

/public/bots/.wwebjs_auth
/public/bots/.wwebjs_cache
/public/bots/node_modules
/public/bots/.env

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode